body {
  background-color: #000;
}

#clock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 95vh;
  overflow: hidden;
}

#clockface {
  opacity: 1.0;
  transition: opacity 0.5s ease-in-out;
}

#clockface.dimmed {
  opacity: 0.4;
  transition: opacity 0.5s ease-in-out;
}

.dimmer-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 100;
  width: 80px;
  height: 25px;
  border-radius: 5px;
  color: #ccc;
  background-color: #101016;
  border: 1px solid #323237;
  opacity: 0.4;
  transform: scale(0.8);
  transition: opacity 0.25s ease-in-out, transform 0.1s ease-in-out;
}

.dimmer-btn:hover {
  opacity: 0.7;
  transform: scale(0.9);
  transition: opacity 0.25s ease-in-out, transform 0.1s ease-in-out;

}

.subsecond {
  color: yellow;
}

.hour,
.minute {
  color: #ddd;
}

.tick-hour {
  color: #bbb;
}

.tick-minutes {
  color: #888;
}

.second {
  color: #d03;
}