body {
  background-color: #050109;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 95vh;
  opacity: 0.7;
  overflow: hidden;
}

.subsecond {
  color: yellow;
}

.hour,
.minute {
  color: #fff;
}

.tick-hour {
  color: #bbb;
}

.tick-minutes {
  color: #777;
}

.second {
  color: #c00;
}
